<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>URL Shortener - Admin</title>
    <link rel="icon" href="/assets/_226deb92-9e15-4948-99e4-a9e931bcb907.png" type="image/x-icon"> <!-- favicon -->
    <link rel="stylesheet" href="/stylesheets/adminStyle.css">
    <script src="/javascripts/handleAction.js"></script>
</head>
<body class="bodyOfStatistic">
    <div class="container">
        <!-- Link Statistics -->
        <h1>URL Details</h1>
        <p><strong>URL: </strong> <%= Url %><br><strong>Short ID: </strong><%= shortid %></p>
        <p><strong>Total Clicks: </strong> <%= Totalclicks %></p>
        <p><strong>Created By: </strong> <%= createdBy %></p>
        <p><strong>Email: </strong> <%= email %></p>
        <p><strong>Role: </strong> <%= role %></p>
        <!-- to delete user from database -->
        <button id="delete" type="button" onclick="handle_Userdelete('/admin/delete','<%= email %>')">Delete User</button> 
    </div>
</body>
</html>
