<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="icon" href="/assets/_226deb92-9e15-4948-99e4-a9e931bcb907.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6a0ad01ab5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <script src="/javascripts/handleAction.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <h1 id="headings">URL Shortener</h1>
    <% if (locals.role) { %>
        <h1 id="headings"><%= userName %></h1>
    <% } %>
    <hr>
    <br>
    <form method="post", action="/" id="url_input">
        <lable>Enter your URL: &nbsp;</lable>
        <input type="text" placeholder="https://www.example.com" name="url">
        <button id="submit" type="submit">Shorten</button>
        <button id="reset" type="button" onclick="window.location.href = '/ashes/home'">Reset</button>
        <% if (locals.error) { %>
            <p style="color: red; font-size: smaller; margin-right:20%;"><%= error %></p>
        <% } %>
    </form>
    <% if (locals.id) { %>
        <div id="short_url">
            <span id="shorturlHeading">Shorten URL:&nbsp;</span>
            <span id="shortenUrl"><a href="/<%= id%>" target="_blank" id="copy_text">http://localhost:8001/<%= id%></a></span>
            <span class="fa-regular fa-copy" id="copy" title="Copy"></span>
            <span class="msg">copied<span id="ani">!</span></span>
        </div>
    <% } %>
    <br>
    <hr>
    <br>
    <% if (!locals.role) { %>
        <center>
            <div class="visit_login">
                <button id="login" type="button" onclick="window.location.href = '/ashes/login'">Login</button>
                <button id="signup" type="button" onclick="window.location.href = '/ashes/signup'">Signup</button>
            </div>
        </center>
    <% } %>
    <div class="afterBody">
        <% if (locals.role) { %>
            <button id="logout" type="submit">logout</button>
            <button id="clear" type="submit">Clear History</button>
            <div class="table">
                <% if (locals.data) { %>
                    <table border="1px">
                        <thead>
                            <th>S.No</th>
                            <th>RedirectURL</th>
                            <th>Original URL</th>
                            <th>Clicks</th>
                        </thead>
                        <tbody>
                            <% data.forEach((e,index) => { %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td><a href="/<%= e.shortId%>" target="_blank" style="color: rgb(125, 202, 205);">
                                        <%= e.shortId %></a></td>
                                    <td><%= e.redirectURL %></td>
                                    <td><%= e.visitTime.length %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        <% } %>
        <% if (locals.role === 'ADMIN') { %>
            <h2 id="headings">User Recordes</h2>
            <button id="allUser" type="button" onclick="window.location.href='/admin/allusers'">All Users</button>
            <div class="table">
                <% if (locals.allurls) { %>
                    <table border="1px">
                        <thead>
                            <th>S.No</th>
                            <th>RedirectURL</th>
                            <th>Original URL</th>
                            <th>Created By</th>
                            <th>Statistics</th>
                        </thead>
                        <tbody>
                            <% allurls.forEach((e,index) => { %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td><a href="/<%= e.shortId%>" target="_blank" style="color: rgb(125, 202, 205);">
                                        <%= e.shortId %></td>
                                    <td><%= e.redirectURL %></td>
                                    <td><%= e.createdBy %></td>
                                    <td>
                                        <button id="open" type="submit" onclick="window.location.href = '/admin/statistics/<%= e.shortId %>'">
                                            open</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        <% } %>
    </div>
</body>
<script src="/javascripts/copyText.js"></script>
</html>