<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <script src="https://kit.fontawesome.com/6a0ad01ab5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="/javascripts/handleAction.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.isUser) { %>
        <h1><%= userName %></h1>
    <% } %>
    <hr>
    <br>
    <form method="post", action="/ashes" id="url_input">
        <lable>Enter your URL: &nbsp;</lable>
        <input type="text" placeholder="https://www.example.com" name="url">
        <button id="submit" type="submit">Shorten</button>
        <button id="reset" type="button" onclick="window.location.href = '/home'">Reset</button>
    </form>
    <br>
    <% if (locals.id) { %>
        <div id="short_url">
            <span id="shorturl">Shorten URL:&nbsp;<a href="/ashes/<%= id%>" target="_blank" id="copy_text">http://localhost:8001/ashes/<%= id%></a></span>
            <span class="fa-regular fa-copy" id="copy" title="Copy"></span>
            <span class="msg">copied<span id="ani">!</span></span>
        </div>
    <% } %>
    <br>
    <hr>
    <% if (locals.isUser) { %>
        <button id="logout" type="submit">logout</button>
        <button id="clear" type="submit">Clear All</button>
        <div class="table">
            <% if (locals.data) { %>
                <table border="1px">
                    <thead>
                        <th>S.No</th>
                        <th>ID</th>
                        <th>Original URL</th>
                        <th>Clicks</th>
                    </thead>
                    <tbody>
                        <% data.forEach((e,index) => { %>
                            <tr>
                                <td><%= index+1 %></td>
                                <td><%= e.shortId %></td>
                                <td><%= e.redirectURL %></td>
                                <td><%= e.visitTime.length %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } %>
        </div>
    <% } %>
</body>
<script src="/javascripts/copyText.js"></script>
</html>